<div class="media">
  <div class="media-body">
    <h5 class="mt-0">
      <span>
        <%= tag.value -%>
      </span>
      <small class="text-muted">
        <%- if tag.active -%>
          active
        <%- else -%>
          inactive
        <%- end -%>
      </small>
    </h5>
  </div>
</div>
