<h2><a href="/faq">FAQ</a></h2>

<ul>
  <li>Where can I upload images for hotlinking?<br>
    <ul>
      <li>https://cubeupload.com/faq (account required) 5MB limit<li>
      <li>https://put.re/terms-of-service Albums 200MB limit</li>
      <li>Imgur - discouraged, but allowed.</li>
    </ul>
    <br>To Research<br>
    <ul>
      <li>https://github.com/ShareX/CustomUploaders</li>
    </ul>
    <br>Explicitly Disallowed<br>
    <ul>
      <li>Google Photos</li>
    </ul>
  </li>
</ul>
