<div class="media">
  <div class="media-body">
    <h5 class="mt-0">
      <pre class="text-monospace"><%= upload %></pre>
    </h5>
    <p><%= upload.updated_at %></p>
    <p><%= upload.created_at %></p>
  </div>
</div>
